.block {
  background-color: white;
  opacity: 0;
}

button {
  width: 100px;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-rows: repeat(16,1fr);
  grid-template-columns: repeat(16,1fr);
  grid-gap: 10px;
  width: 800px;
  height: 800px;
  border: 60px solid red;
  border-style: inset;
  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}

label {
  width: 100px;
  margin: auto;
  display: block;
  margin-top: 10px;
}
